$color_1: inherit;
$font-family_1: "DM Sans", sans-serif;
$background-color_1: #f2f5f7;
$background-color_2: var(--header-bg);
$background-color_3: transparent;
$background-color_4: currentcolor;
$background-color_5: #fff;
$background-color_6: #bee5d3;

@import "https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap";
/* Sticky header */
/* Styling of other elements */
* {
  box-sizing: border-box;
  &:after {
    box-sizing: border-box;
  }
  &:before {
    box-sizing: border-box;
  }
}
:root {
  --header-outer-height: 110px;
  --header-inner-height: 70px;
  --header-height-difference: calc( var(--header-outer-height) - var(--header-inner-height) );
  --header-bg: #fff;
}

body {
  font-family: $font-family_1;
  background-color: $background-color_1;
  line-height: 1.5;
  min-height: 300vh;
  position: relative;
}

.playlist-col {
  flex: 0 0 auto;
  width: calc(33.333333% - 15px);

  &:last-child {
    margin-right: 0;
  }

  @media only screen and (max-width: 768px) {
    width: 100%;
    margin-right: 0;
  }
}

.container {
  margin-top: 20px;

  h2 {
    color: #413f3f;
    text-align: center;
    margin-bottom: 10px;
  }

  hr {
    border-color: #413f3f;
  }

  .row {
    margin-top: 20px;
    vertical-align: middle;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    #playlistContainer {
      justify-content: center;
    }
  }
}

.playlist {
  background-color: $background-color_1;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  img {
    width: 80%;
    border-radius: 8px;
  }
  h4 {
    margin-top: 10px;
    margin-bottom: 5px;
  }
  p {
    font-size: 14px;
    color: $color_1;
  }
  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    img {
      transform: scale(1.1);
    }
  }
}